.smerteliko-gnome-weather-exstension-button {
	border-radius: 32px;
	padding: 13px;
}

.smerteliko-gnome-weather-exstension-button:hover {
	border: none;
	padding: 14px;
}

.smerteliko-gnome-weather-exstension-button > StIcon {
	icon-size: 6px;
}

.smerteliko-gnome-weather-exstension-button > StLabel {
	padding: 6px;
}

.smerteliko-gnome-weather-exstension-menu-button-container {
	padding: 0px;
}

.smerteliko-gnome-weather-exstension-button-box {
	padding: 0px;
	spacing: 12px;
}

.smerteliko-gnome-weather-exstension-current-summarybox,
.smerteliko-gnome-weather-exstension-forecast-icon,
.smerteliko-gnome-weather-exstension-current-databox-captions,
.smerteliko-gnome-weather-exstension-current-databox-values,
.smerteliko-gnome-weather-exstension-current-icon,
.smerteliko-gnome-weather-exstension-forecast-summary,
.smerteliko-gnome-weather-exstension-forecast-temperature {
	border-radius: 0px;
	padding: 0px;
	border: 0px;
}

.smerteliko-gnome-weather-exstension-current-summarybox {
	padding-top: 5px;
	padding-right: 60px;
}

.smerteliko-gnome-weather-exstension-current-summary {
	font-size: 36px;
}

.smerteliko-gnome-weather-exstension-current-databox {
	padding: 5px 15px 0px;
}

.smerteliko-gnome-weather-exstension-current-icon {
	padding-right: 40px;
}

.smerteliko-gnome-weather-exstension-current-iconbox {
	padding-right: 20px;
	padding-left: 20px;
}

.smerteliko-gnome-weather-exstension-icon:ltr {
	padding-right: 5px;
}

.smerteliko-gnome-weather-exstension-icon:rtl {
	padding-left: 5px;
}

.smerteliko-gnome-weather-exstension-label {
	padding-right: 6px;
}

.smerteliko-gnome-weather-exstension-current-databox-captions {
	text-align: right;
	padding-right: 5px;
	spacing: 0;
}

.smerteliko-gnome-weather-exstension-today-box {
	padding-top: 15px;
	padding-bottom: 15px;
}

.smerteliko-gnome-weather-exstension-forecast-expander {
	padding-right: 15px;
	padding-left: 15px;
}

.smerteliko-gnome-weather-exstension-forecast-box {
	padding-top: 15px;
}

.smerteliko-gnome-weather-exstension-forecast-icon {
	padding-right: 10px;
}

.smerteliko-gnome-weather-exstension-forecasts {
	-st-hfade-offset: 60px;
}

.smerteliko-gnome-weather-exstension-today-databox {
	text-align: center;
	padding-right: 35px;
	padding-left: 35px;
}

.smerteliko-gnome-weather-exstension-forecast-databox {
	text-align: center;
	min-width: 180px;
	min-height: 120px;
}

.smerteliko-gnome-weather-exstension-forecast-day {
	min-height: 120px;
	padding: 0px 2px 0px 0px;
	text-align: right;
	font-weight: bold;
	font-size: 90%;
	spacing: 0;
}

.smerteliko-gnome-weather-exstension-forecast-time {
	font-size: 85%;
	padding-bottom: 5px;
	spacing: 0;
}

.smerteliko-gnome-weather-exstension-forecast-iconbox {
	text-align: center;
	vertical-align: top;
}

.smerteliko-gnome-weather-exstension-forecast-summary {
	padding-top: 5px;
	font-size: 80%;
}

.smerteliko-gnome-weather-exstension-sunrise-icon {
	padding-right: 5px;
}

.smerteliko-gnome-weather-exstension-sunset-icon {
	padding-left: 15px;
	padding-right: 5px;
}

.smerteliko-gnome-weather-exstension-build-icon {
	padding-left: 15px;
	padding-right: 5px;
}

.smerteliko-gnome-weather-exstension-button-action {
	-st-icon-style: symbolic;
	border-radius: 32px;
	margin: 0px;
	min-height: 22px;
	min-width: 22px;
	padding: 10px;
	font-size: 100%;
}

.smerteliko-gnome-weather-exstension-button-action:hover,
.smerteliko-gnome-weather-exstension-button-action:focus {
	border: none;
	padding: 11px;
}

.smerteliko-gnome-weather-exstension-button-action > StIcon {
	icon-size: 16px;
}

.smerteliko-gnome-weather-exstension-white {
  color: white;
}

.smerteliko-gnome-weather-exstension-black {
  color: black;
}

